<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Automation Test Suite">

<listeners>
<listener class-name="com.seleniume2e.test.TestListeners"></listener>
</listeners>

  <test name="Login Test">
    <classes>
      <class name="com.seleniume2e.test.LoginTest" />
    </classes>
  </test> 
  
  <test name="E-commerce Test">
  <classes>
  <class name="com.seleniume2e.test.GreenKartTest" />
  </classes>
  </test>
  
  <test name="Cab booking Test">
  <classes>
  <class name="com.seleniume2e.test.SavaariTest"></class>
  </classes>
  </test>
  
</suite> 
